<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766034819730-ja9sso50pu5epctmnakgvdeionalaa3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766034819730-ja9sso50pu5epctmnakgvdeionalaa3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCk4uxUZRVuL90WZvwopx7PQAydCkx43aA</string>
	<key>GCM_SENDER_ID</key>
	<string>766034819730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dewaprabawa.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2e17d</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2e17d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766034819730:ios:3b2c563cde2783171d444b</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-2e17d.firebaseio.com</string>
</dict>
</plist>